<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PASS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
   
    <connectionStrings>
        <add name="StorageDb" connectionString="Data Source=DESKTOP\SQLEXPRESS;Initial Catalog=PASS2016;Integrated Security=True" />
        <add name="PASS.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\AppData\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PASS.Properties.Settings.DatabaseConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="PASS.Properties.Settings.DatabaseConnectionString2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\kejda.DESKTOP\AppData\Roaming\PASS\AppData\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PASS.Properties.Settings.DatabaseConnectionString3"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\kejda\AppData\Roaming\PASS\AppData\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PASS.Properties.Settings.DatabaseConnectionString4"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\kejda.DESKTOP\AppData\Roaming\PASS\AppData\Database.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PASS.Properties.Settings>
            <setting name="UserDbFileString" serializeAs="String">
                <value />
            </setting>
            <setting name="UserFullDbString" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFullDb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </PASS.Properties.Settings>
    </userSettings>
</configuration>